.mission{
    height: auto;
    background-image: url("../../../public/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.mission-title{
    text-align: center;
    padding-top: 30px;
}
