.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
